#container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkcyan
}

#content-container {
  display: flex;
  background-color: blue;
  color: black;
  height: 10rem;
  width: 20rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

#weather-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 2.5rem auto;
  grid-template-columns: 33% auto;
  grid-template-areas: 
    "top-row top-row" 
    "left-column right-column";
}

#bubble-top-row {
  display: flex;
  grid-area: top-row;
  background-color: red;
  justify-content: space-between;
}

#bubble-left-column {
  display: flex;
  grid-area: left-column;
  background-color: yellow;
  flex-direction: column;
  font-size: 0.85rem;
}

#bubble-right-column {
  display: flex;
  grid-area: right-column;
  background-color: green;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#search-bar, #location {
  display: flex;
  align-items: center;
}

#weather-icon-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#weather-icon-temp > img {
  height: auto;
  width: 45%;
}
