#container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-container {
  display: flex;
  background-color: blue;
  color: white;
  height: 10rem;
  width: 20rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

#weather-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 2rem auto;
  grid-template-columns: 25% auto;
  grid-template-areas: 
    "top-row top-row" 
    "left-column right-column";
}

#bubble-top-row {
  display: flex;
  grid-area: top-row;
  background-color: red;
}

#bubble-left-column {
  display: flex;
  grid-area: left-column;
  background-color: yellow;
}

#bubble-right-column {
  display: flex;
  grid-area: right-column;
  background-color: green;
}